@import "tailwindcss";
@import "antd/dist/reset.css";

body {
  font-family: "Poppins", sans-serif;
}
/* .bg-yellow-500 {
  background-color: #b33409;
}
.text-yellow-500 {
  color: #2c20d6;
} */
/* .floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
} */
/* .floating-4 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-4 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
} */
/* .text-darken {
  color: #2f327d;
}
.team-carousel .slick-slide > div {
  display: flex;
  justify-content: center;
  width: 100% !important;
} */

html {
  scroll-behavior: smooth;
}
.purple-select {
  border: 1px solid #fdba74 !important; /* orange-300 */
  border-radius: 0.5rem !important; /* rounded-lg */
  transition: all 0.2s ease;
}

/* Hover (AntD applies blue by default) */
.purple-select:hover {
  border-color: #fb923c !important; /* orange-400 */
}

/* Focus = border-orange-500 + ring-orange-300 */
.purple-select.ant-select-focused {
  border-color: #f97316 !important; /* orange-500 */
  box-shadow: 0 0 0 2px rgba(253, 186, 116, 0.5) !important; /* ring-orange-300 */
}

/* Dropdown selected item */
.purple-select .ant-select-item-option-selected {
  background-color: #fb6332 !important;
  color: white !important;
  font-weight: 600 !important;
}

/* Dropdown hover */
.purple-select .ant-select-item-option-active {
  background-color: #fb924c !important;
  color: white !important;
}
/* For input */
.custom-search .ant-input {
  @apply px-4 py-3 bg-white text-black rounded-xl border-2 border-orange-500;
}

/* On focus */
.custom-search .ant-input:focus {
  @apply ring-2 ring-orange-300 border-orange-600;
}

/* For Search button */
.custom-search .ant-btn {
  @apply bg-orange-600 text-white font-semibold px-6 py-3 rounded-xl
         hover:bg-orange-700 transition-all duration-300;
}

/* Clear icon color */
.custom-search .ant-input-clear-icon {
  @apply text-orange-600;
}
